body{
      
    background-color: darkslategray;
}
.no-padding{
   position:relative;

   padding-left: 0;
   padding-right: 0;

}


#headText{

    position: absolute;
    top: 30%;
    text-align: center;
    padding-left: 38%;
    color: darkslategray;
    
}
h2{
    font-size: 40px;
 
}
h1{
   
}

body{
    font-family: 'Poppins', sans-serif;
}
footer{
    color: white;
}
#image{
   
-webkit-animation-duration: 5s;
-moz-animation-duration: 5;
-ms-transition-animation-duration: 5s;
}
a{
color: darkslategray;
}
